<%- include("./partials/header.ejs")%>
<div class="container">

    <form action="/login" method="POST" class="standaloneForm login-form" >
        <h3 class="smallHeader">Zaloguj się</h3>
        <div class="orderInfoDiv">

        <input type="text" id="usernameInputLogin" name="username" >
            <label for="usernameInputLogin">Nazwa użytkownika</label>

        <input type="password" id="passInputLogin" name="password" >
            <label for="passInputLogin">Hasło</label>


        </div>
        <input type="submit" value="Zaloguj">
    </form>
</div>
<%- include("./partials/footer.ejs")%>