<%- include("./partials/header.ejs")%>
<div class="container">
    <form action="/register" method="POST" class="standaloneForm login-form" >
        <input type="text" name="username" placeholder="Nazwa użytkownika">
        <input type="password" name="password" placeholder="Hasło">
        <input type="submit" value="Rejestracja">
    </form>
</div>
<%- include("./partials/footer.ejs")%>