.grid-container-1column{
    margin: 15px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: 580px;
    grid-gap: 20px;
}

a#addNewClientText:hover{
    text-decoration: underline;
}
a#addNewClientText{
     color: #3d3d3d;
 }

.clientThumbnail{
    color: #3d3d3d;
    font-weight: 600;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px 40px;

    box-shadow: 10px 10px 12px -5px rgba(150,150,150,1);
}
.clientThumbnail-ImageAndName{
    display: flex;
    align-items: center;
    width: 400px;
}
.createNewOrderFromUser{
    display: flex;
    align-items: baseline;

    font-family: 'Lato', sans-serif !important;
    text-transform: capitalize;

}
.createNewOrderFromUser span{
    font-size: 0.60em;
    font-family: 'Lato', sans-serif !important;
    color: #3d3d3d;
}
.createNewOrderFromUser:hover{
    text-decoration: underline;

}
.newOrderFromUserIcon{
    margin-right: 3px;
    width: 9px;
    height: 9px;

}
.clientThumbnail-ImageAndName-Name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    font-size: 1.18em;
}
.clientThumbnail-Info{
    font-size: 0.78em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 110px;
}

.clientThumbnail-Info *{
    font-family: 'Lato', sans-serif;
    color: #3d3d3d;
    letter-spacing: 0.4q;
    margin: 2px 0;
}
.clientThumbnail-Info a{
   color: #2997ff;
}

.clientThumbnail-Info a:hover{
    text-decoration: underline;
}

.clientPhoto{
    width: 40px;
    margin-right: 20px;
}
.clientThumbnailIcon{
    width: 14px;
    margin-right: 6px;
}
.clientThumbnail-Attribute{
    display: flex;
    align-items: center;
}

/* ============================= */

.client{
    min-width: 500px;
    margin: 20px auto;
    font-weight: 600;
    background-color: #f2f2f2;
    text-align: center;
    padding: 30px 48px;
    color: #3d3d3d;
    box-shadow: 10px 10px 12px -5px rgba(150,150,150,1);
}
.clientRowAddress{
    margin: 40px 0;
    border-bottom: 2px solid #3d3d3d;
    width: 100%;
}
.ClientImageWrapper img{
    width: 80px;
    margin-right: 10px;
}
.clientRow{
    width: 100%;
}
.clientButtons{
    height: 64px;
}
.clientPhotoNamePhone{

}
.clientGeneralInfo{
    margin: 0 80px 0 15px;
}
#clientName{
    font-size: 1.7em;
    text-transform: uppercase;

}
.spanButtonClient{
    display: block; /* MUSI BYC DISPLAY BLOCK ZEBY NADAC USTALONA SZEROKOSC */
    width: 130px;
    padding: 4px 0;
    font-family: "Lato", sans-serif;
    border-radius: 4px;
    font-size: 0.68em;
    border: 2px solid;
}
.deleteClientButton{
    border: none;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-transform: lowercase;
    color: #c62e4d;
    cursor: pointer;
}
.deleteClientButton:hover{

    text-decoration: underline;
}