#zamowienie-container{
    width: 100%;
}
.formItem{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.formItem-Header{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    align-items: center;
    background-color: #f1f1f1;
    border-bottom: 1px solid #3d3d3d;
    border-top: 1px solid #3d3d3d;
    margin-bottom: 30px;
    width: 100%;
}
.formItem-Header-ProductName{
     display: flex;
     align-items: center;
    margin-left: 60px;
 }
.formItem-Header-Pricing{
    margin-right: 30px;
}
.formItem-Header-ProductName img{
    margin-right: 18px;
    width: 24px;
}
.formItem-Header-ProductName span {
    text-transform: uppercase;
    letter-spacing: 1q;
    font-weight: 600;
}

.formRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.formItem-Properties-Text{
    display: flex;
    justify-content: space-between;
}
.formItem-Properties-Text-Feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.formItem-Properties-Text-Feature span{
    font-size: 12px;
    margin-top: 3px;
    color: #7d7d7d;
    letter-spacing: 1q;
    font-weight: 600;
}

.formItem-Properties-Text-Feature-InputDiv{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.bi{
    background-color: #6d6d6d;
    width: 2px;
    height: 5px;
}
.di{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 36px;
}
.featureInput{
    width: 85px;
    border:none;
    text-align: center;
    font-size: 12.5px;
    background-color: rgba(0, 0, 0, 0.0) !important;
    height: 22px;
    padding: 2px 10px;
    outline: none;
    font-family: "Lato", sans-serif !important;
    font-weight: 500;
    color: #5d5d5d;
    border-bottom: 2px solid #6d6d6d;
}

.longFeatureInput{
     text-align: start;
     width: 500px;
    padding: 2px 20px;
 }
.mediumFeatureInput{
    text-align: start;
    width: 420px;
    padding: 2px 20px;
}
.calculatePriceButton{
    width: 100%;
    margin-bottom: 20px;
    font-weight: 600;
    color: #6d6d6d;
    padding: 1px 0;
    font-size: 12px;
    margin-top: 18px;
    text-transform: uppercase;
}
.calculatePriceButtonSmall{

    margin-bottom: 20px;
    font-weight: 600;
    color: #6d6d6d;
    padding: 1px 10px;
    margin-right: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.finalFeatureInput{
    height: 36px;
    border-top: 2px solid #6d6d6d;
    font-weight: 900;
}

.formItem-Properties-Checkboxes{
    display: flex;
    justify-content: space-between;
}
.formItem-Properties-Checkboxes-Element{
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.formItem-Properties-Checkboxes-Element span{
   font-weight: 600;
    color: #7d7d7d;
    font-size: 14px;
}
.formItem-Properties-Checkboxes-Element input{
    margin-right: 5px;
}

.orderInfoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 270px;
}
.smallHeader{
    font-weight: 600;
    margin-bottom: 30px
}
.orderInfoDiv input{
    margin-bottom: 4px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #7d7d7d;
    background-color: rgba(0, 0, 0, 0);
    padding: 4px 20px;
    font-size: 12.5px;
    font-family: 'Lato', sans-serif;
    transition: padding 0.2s, width 0.5s;
    width: 80%;
}
.orderInfoDiv input:focus{
    padding: 9px 20px;
    border-color: #5d5d5d;
    width: 100%;
}

.orderInfoDiv label{
    font-size: 12px;

    color: #7d7d7d;
    letter-spacing: 1q;
    font-weight: 600;
    /*margin-left: 20px;*/
    margin-bottom: 5px;
}
.deleteButton{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border: 2px solid #3d3d3d;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    padding: 0 6px;
    font-weight: 900;
    margin-left: 30px;
}

.deleteButton:hover{
border-color: #84221f;
    color: #84221f;
}
/*=================*/
input:disabled{
    background-color: #c4c4c4;
    transition: background-color 1s;
}
.center{
    text-align: center;
}
button.go{
    background-color: #269f42;
    background-image: linear-gradient(-180deg,#2fcb53,#269f42 90%);
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
    color:white;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
    -webkit-appearance: none;
    font-family: 'Helvetica-Narrow', sans-serif;
    font-weight: bold;
}

/* CONSOLE */
#console{
    color: #e51e16;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #e51e16;
    margin-bottom: 10px;
    padding: 2px 30px;
    border-radius: 4px;
}

.displayNone{
    display: none;
}
