<%- include("../partials/header.ejs")%>
<div class="container">

    <form action="/clients" method="POST" class="standaloneForm">
        <h3 class="smallHeader">Dodaj klienta</h3>
        <div class="orderInfoDiv">
            <input type="text" name="client[name]" >
            <label>Imię</label>
            <input type="text" name="client[lastName]">
            <label>Nazwisko</label>

            <input type="text" name="client[telephone]">
            <label>Telefon</label>

            <input type="text" name="client[town]">
            <label>Miejscowość</label>

            <input type="text" name="client[address]">
            <label>Adres</label>

            <input type="text" name="client[description]">
            <label>Opis</label>


        </div>
        <input type="submit" value="Utwórz profil">

    </form>
</div>
<%- include("../partials/footer.ejs")%>