<%- include("../partials/header.ejs")%>
<div class="container">

    <form action="/clients" method="POST" class="standaloneForm">
        <h2>Dodaj klienta</h2>
        <input type="text" name="client[name]" placeholder="Imie">
        <input type="text" name="client[lastName]" placeholder="Nazwisko">
        <input type="text" name="client[nameFor]" placeholder="Nazwa firmy">
        <input type="text" name="client[telephone]" placeholder="Telefon">
        <input type="text" name="client[address]" placeholder="Adress">
        <input type="text" name="client[description]" placeholder="Opis">
        <input type="text" name="client[kilometers]" placeholder="Kilometry">

        <input type="submit" value="Utwórz profil">

    </form>
</div>
<%- include("../partials/footer.ejs")%>