<%- include("../partials/header.ejs")%>
<div class="container">
    <h2>Zamówienie</h2>
    dlugosc pozycji pierwszej drewna:

    <%= order.drewnaKonstrukcyjne.length%>


</div>
<%- include("../partials/footer.ejs")%>